@using SAF.Configuracion.Enum;
@using SAF.Configuracion.Constantes;

@model SAF.Web.Models.AuditorModel

@{
    ViewBag.PageTitle = "Editar Solicitud";
    ViewBag.PageDescription = "Editar Solicitud";
    ViewBag.PageDescription = "Auditor Financiero";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<iframe id="iRegistroSolicitudAuditor" name="RegistroSolicitudAuditor" style="visibility:hidden; display: none;"></iframe>
@using (Html.BeginForm("grabarRegistroSolicitudAuditor", "Solicitud", FormMethod.Post, new { autocomplete = "off", id = "frmRegistroSolicitudAuditor", role = "form", enctype = "multipart/form-data", target = "RegistroSolicitudAuditor" }))
{
    @Html.HiddenFor(c => c.codigoSolicitud)
    @Html.HiddenFor(c => c.codAud);

                                  if (Model.estadoSolicitud == Convert.ToInt32(Estado.Solicitud.Observada))
                                  {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box box-success color-palette-box">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title"><strong><i class="fa fa-info-circle"></i>&nbsp;Observaciones</strong></h3>
                                                </div>
                                                <div class="box-body">
                                                    <div style="width:100%;">
                                                        @Html.Raw(HttpUtility.HtmlDecode(Model.observacionSolicitud));
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  }
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary color-palette-box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Información Auditor</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.dniAud)
                                                            @Html.TextBoxFor(c => c.dniAud, new { @class = "form-control" })
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.fecNacAud)
                                                            @Html.TextBoxFor(c => c.fecNacAud, new { @class = "form-control" })
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.sexAud)
                                                            @Html.TextBoxFor(c => c.sexAud, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.nomAud)
                                                            @Html.TextBoxFor(c => c.nomAud, new { @class = "form-control", @rows = "4" })
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.LabelFor(c => c.apeComAud)
                                                            @Html.TextBoxFor(c => c.apeComAud, new { @class = "form-control", @rows = "4" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.codDeparAud)
                                                            @Html.DropDownListFor(c => c.codDeparAud, Model.cboDepartamento, "Seleccione", new { @class = "form-control", @rows = "4" })
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.codProvAud)
                                                            @Html.DropDownListFor(c => c.codProvAud, Model.cboProvincia, "Seleccione", new { @class = "form-control", @rows = "4" })
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.codDisAud)
                                                            @Html.DropDownListFor(c => c.codDisAud, Model.cboDistrito, "Seleccione", new { @class = "form-control", @rows = "4" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.corAud)
                                                            @Html.TextBoxFor(c => c.corAud, new { @class = "form-control", @rows = "4" })
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.telAud)
                                                            @Html.TextBoxFor(c => c.telAud, new { @class = "form-control", @rows = "4" })
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.celAud)
                                                            @Html.TextBoxFor(c => c.celAud, new { @class = "form-control", @rows = "4" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary color-palette-box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Información Adicional</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="form-group">

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(c => c.codCerAud)
                                                            @Html.TextBoxFor(c => c.codCerAud, new { @class = "form-control" })
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.nombreArchivo)
                                                                <div class="input-group">
                                                                    @Html.TextBoxFor(m => m.nombreArchivo, new { @class = "form-control", @readonly = "" })
                                                                </div>
                                                                @Html.HiddenFor(m => m.codArchivo)
                                                                @Html.ValidationMessageFor(m => m.nombreArchivo)
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary color-palette-box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Capacitaciones</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" id="btnAgregarCapacitacion" class="btn btn-primary"><i class="fa fa-file"></i>&nbsp;Agregar</button>
                                                    </div>
                                                </div>
                                                <table id="tabCapacitaciones" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary color-palette-box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Experiencias</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" id="btnAgregarExperiencia" class="btn btn-primary"><i class="fa fa-file"></i>&nbsp;Agregar</button>
                                                    </div>
                                                </div>
                                                <table id="tabExperiencias" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-default color-palette-box">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <center>
                                                                <button type="button" id="btnEnviarInfoAuditorSolicitud" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Enviar</button>
                                                                <button type="button" id="btnGuardarSolicitudInscripcionAuditor" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                                                                <button type="button" id="btnRegresar" class="btn btn-info"><i class="fa fa-chevron-left"></i>&nbsp;Regresar</button>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="dlgRegistroCapacitacion" tabindex="-1" role="dialog" aria-hidden="true"></div>
                                <div class="modal fade" id="dlgRegistroExperiencia" tabindex="-1" role="dialog" aria-hidden="true"></div>
}
@section scripts {

    <script type="text/javascript" language="javascript">
        var tabCapacitaciones, _capacitaciones_;
        var tabExperiencias, _experiencias_;

        $('#dlgRegistroCapacitacion').on('hidden.bs.modal', function () { $("#dlgRegistroCapacitacion").empty(); });
        $('#dlgRegistroExperiencia').on('hidden.bs.modal', function () { $("#dlgRegistroExperiencia").empty(); });
        $("#btnAgregarExperiencia").click(function () { agregarExperiencia() });
        $("#btnAgregarCapacitacion").click(function () { agregarCapacitacion() });
        $("#nombreArchivo").fileInput({ file: $("#codArchivo").val(), fileName: "archivoCertificadoAuditor", ctrlCleanDelete: ["codArchivo"] });


        load();
        if (
           '@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Elaboracion)' ||
                '@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Observada)'
           ) {
            $("#btnEnviarInfoAuditorSolicitud").prop("disabled", false);
            $("#btnGuardarSolicitudInscripcionAuditor").prop("disabled", false);

        } else {
            $("#btnEnviarInfoAuditorSolicitud").prop("disabled", true);
            $("#btnGuardarSolicitudInscripcionAuditor").prop("disabled", true);
            $("#nombreArchivo").fileInput({ file: $("#codArchivo").val(), fileName: "archivoCertificadoAuditor", disabled: true });
            $("#btnAgregarExperiencia").attr("disabled", true);
            $("#btnAgregarCapacitacion").attr("disabled", true);
        }

        $("#btnGuardarSolicitudInscripcionAuditor").click(guardarSolicitudAuditor);
        $("#btnRegresar").click(regresarListadoSolicitud);
        $("#btnEnviarInfoAuditorSolicitud").click(function () {
            bootbox.confirm(parametros.general.mensajeConfirmacion, function (result) {
                enviarSolicitudRegistroAuditor();
            });
        });

        function enviarSolicitudRegistroAuditor() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("enviarSolicitud", "Solicitud")',
                data: { idSol: $("#codigoSolicitud").val() },
                dataType: "json",
                success: function (result) {
                    mostrarNotificacion(result);
                    if (result.Exito) {
                        $("#btnGuardarSolicitudInscripcionAuditor").prop("disabled", true);
                        $("#btnEnviarInfoAuditorSolicitud").prop("disabled", true);
                        $("#btnAgregarExperiencia").attr("disabled", true);
                        $("#btnAgregarCapacitacion").attr("disabled", true);

                    }
                }
            });
        }


        function guardarSolicitudAuditor() {
            $("#frmRegistroSolicitudAuditor").submit();
        }

        function load() {
            $("#iRegistroSolicitudAuditor").load(function () {
                var resultText = $("#iRegistroSolicitudAuditor").contents().find('body').html();
                if (resultText == "") return;

                var result = jQuery.parseJSON(resultText);
                mostrarNotificacion(result);
            });
            cargarCapacitaciones();
            cargarExperiencias();
        }

        function regresarListadoSolicitud() {
            document.location = '@Url.Action("Index", "Solicitud")';
        }

        function cargarCapacitaciones() {
            $.ajax({
                url: '@Url.Action("listarCapacitaciones", "Solicitud")',                
                type: 'POST',
                async: false,
                data: { id: '@Model.codigoSolicitud' },
                success: function (result) {
                    _capacitaciones_ = result;
                    tabCapacitaciones.fnReloadData(_capacitaciones_);
                }
            });
        };

        tabCapacitaciones = $("#tabCapacitaciones").dataTable({
            "info": false,
            "bServerSide": false,
            "data": _capacitaciones_,
            //"order": [[1, "asc"]],
            "columns": [
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row) {
                        if ('@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Elaboracion)' ||
                             '@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Observada)')
                            return '<center><button class="btn btn-primary" title="Editar" type="button" onclick="editarCapacitacion(' + row[0] + ');"><i class="fa fa-edit"></i></button></center>';
                        return "";
                    }
                },
            {
                "sTitle": "Descripción",
                "sClass": "center"
            },
            { "sTitle": "Especialidad" },
            { "sTitle": "Inicio" },
            { "sTitle": "Fin" },
            {
                "sClass": "center",
                "render": function (data, type, row) {
                    if ('@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Elaboracion)' ||
                         '@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Observada)')
                        return '<center><button class="btn btn-danger" title="Eliminar" type="button" onclick="eliminarCapacitacion(' + row[0] + ');"><i class="fa fa-trash"></i></button></center>';
                    return "";
                }
            },
            ]
        });

        function agregarCapacitacion() {
            $.ajax({
                url: '@Url.Action("nuevaCapacitacion")',
                data: { id: '@Model.codigoSolicitud' },
                success: function (result) {
                    $("#dlgRegistroCapacitacion").empty().html(result).modal().modal({ show: true, backdrop: 'static' });
                }
            });
        };

        function editarCapacitacion(id) {
            $.ajax({
                url: '@Url.Action("editarCapacitacion")',
                data: { id: id },
                success: function (result) {
                    $("#dlgRegistroCapacitacion").empty().html(result).modal({ show: true, backdrop: 'static' });
                }
            });
        };

        function eliminarCapacitacion(id) {
            bootbox.confirm(parametros.general.mensajeConfirmacion, function (result) {
                confirmaEliminarCapacitacion(id);
            });
        };

        function confirmaEliminarCapacitacion(id) {
            $.ajax({
                url: '@Url.Action("eliminarCapacitacion")',
                type: 'POST',
                async: false,
                data: { id: id },
                success: function (result) {
                    mostrarNotificacion(result);
                    if (result.Exito) cargarCapacitaciones();
                }
            });
        };



        //Experiencias
        function cargarExperiencias() {
            $.ajax({
                url: '@Url.Action("listarExperiencias", "Solicitud")',                
                type: 'POST',
                async: false,
                data: { id: '@Model.codigoSolicitud' },
                success: function (result) {
                    _experiencias_ = result;
                    tabExperiencias.fnReloadData(_experiencias_);
                }
            });
        };

        tabExperiencias = $("#tabExperiencias").dataTable({
            "info": false,
            "bServerSide": false,
            "data": _experiencias_,
            //"order": [[1, "asc"]],
            "columns": [
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row) {
                        if ('@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Elaboracion)' ||
                             '@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Observada)')
                            return '<center><button class="btn btn-primary" title="Editar" type="button" onclick="editarExperiencia(' + row[0] + ');"><i class="fa fa-edit"></i></button></center>';
                        return "";
                    }
                },
            {
                "sTitle": "Descripción",
                "sClass": "center"
            },
            { "sTitle": "Empresa" },
            { "sTitle": "Inicio" },
            { "sTitle": "Fin" },
            {
                "sClass": "center",
                "render": function (data, type, row) {
                    if ('@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Elaboracion)' ||
                         '@Model.estadoSolicitud' == '@Convert.ToInt32(Estado.Solicitud.Observada)')
                        return '<center><button class="btn btn-danger" title="Eliminar" type="button" onclick="eliminarExperiencia(' + row[0] + ');"><i class="fa fa-trash"></i></button></center>';
                    return "";
                }
            },
            ]
        });

        function agregarExperiencia() {
            $.ajax({
                url: '@Url.Action("nuevaExperiencia")',
                data: { id: '@Model.codigoSolicitud' },
                success: function (result) {
                    $("#dlgRegistroExperiencia").empty().html(result).modal().modal({ show: true, backdrop: 'static' });
                }
            });
        };

        function editarExperiencia(id) {
            $.ajax({
                url: '@Url.Action("editarExperiencia")',
                data: { id: id },
                success: function (result) {
                    $("#dlgRegistroExperiencia").empty().html(result).modal({ show: true, backdrop: 'static' });
                }
            });
        };

        function eliminarExperiencia(id) {
            bootbox.confirm(parametros.general.mensajeConfirmacion, function (result) {
                confirmaEliminarExperiencia(id);
            });
        };

        function confirmaEliminarExperiencia(id) {
            $.ajax({
                url: '@Url.Action("eliminarExperiencia")',
                type: 'POST',
                async: false,
                data: { id: id },
                success: function (result) {
                    mostrarNotificacion(result);
                    if (result.Exito) cargarExperiencias();
                }
            });
        };

    </script>
}
