@model SAF.Web.Models.InvitacionModel

@Html.HiddenFor(c => c.codigoAuditorAgenda)
@Html.HiddenFor(c => c.codigoInvitacionAgenda)




<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Agenda del Auditor</h4>
        </div>
        <div class="modal-body">
            <div class="callout callout-warning">
                <h4><i class="icon fa fa-info"></i>&nbsp;Advertencia</h4>
                <p>
                    Esta disponibilidad esta sujeta a las invitaciones que acepte el auditor
                </p>
            </div>
            @*<div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(c => c.numeroHorasLaboral)
                        @Html.TextBoxFor(c => c.numeroHorasLaboral, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>*@

            <div class="form-group">
                <div class="row">
                    <div class="col-md-7">
                        @Html.LabelFor(c => c.nomCompletoAuditor)
                        @Html.TextBoxFor(c => c.nomCompletoAuditor, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <div class="col-md-5">
                        @Html.LabelFor(c => c.cargoInvitacionAuditor)
                        @Html.TextBoxFor(c => c.cargoInvitacionAuditor, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(c => c.fechaInicio)
                        <div class="input-group date">
                            @Html.TextBoxFor(c => c.fechaInicio, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(c => c.fechaFinal)
                        <div class="input-group date">
                            @Html.TextBoxFor(c => c.fechaFinal, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <br />
                        <button type="button" class="btn btn-primary" id="btnBusquedaDisponibilidad"><i class="fa fa-seach"></i>&nbsp;Buscar</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">


                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tabsDisponibilidadAuditor" aria-controls="home" role="tab" data-toggle="tab">Disponibilidad</a></li>
                            <li role="presentation"><a href="#tabsFechasAsignadas" aria-controls="profile" role="tab" data-toggle="tab">Fechas Invitadas</a></li>
                        </ul>
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="tabsDisponibilidadAuditor">
                                <!--INICIO-->


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary color-palette-box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title"><i class="fa fa-calendar"></i>&nbsp;Lista de fechas disponibles</h3>
                                            </div>
                                            <div class="box-body">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table id="tabDisponibilidadAuditor" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button type="button" id="btnRegistrarAgenda" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;Asignar Fechas</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!--FIN-->
                            </div>

                            <div role="tabpanel" class="tab-pane" id="tabsFechasAsignadas">


                                <!--INICIO-->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary color-palette-box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title"><i class="fa fa-calendar"></i>&nbsp;Lista de fechas invitadas</h3>
                                            </div>
                                            <div class="box-body">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table id="tabFechasAsig" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button type="button" id="btnEliminarFechaAsignada" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Eliminar Fechas</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!--FIN-->


                            </div>

                        </div>



                    </div>
                </div>
            </div>


        </div>
 
    </div>
</div>






<script type="text/javascript">

    var _dataDisponibilidadAuditor_ = null;
    var _dataFechasAsigAuditor_ = null;

    $(document).ready(function () {
        listarFechasAsignadasAuditor();
        $("#btnRegistrarAgenda").click(registrarAgendaAuditor);
        $("#btnEliminarFechaAsignada").click(eliminarFechasAgendaAuditor);
        
        $("#btnBusquedaDisponibilidad").click(listarDisponibilidadAuditor);
        $('#fechaInicio').datepicker({
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('#fechaFinal').datepicker({
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    });


    var tabDisponibilidadAuditor = $("#tabDisponibilidadAuditor").dataTable({
        "info": false,
        "bServerSide": false,
        "data": _dataDisponibilidadAuditor_,
        "order": [[1, "asc"]],
        "columns": [

            { "sTitle": "Fecha Disponible" },
            {
                "sTitle": "<center><input type='checkbox' id='chkSeleccionarTodo' onclick='javascript:seleccionarTodasFechas();' /></center>",
                "bSortable": false,
                "sClass": "center",
                "sWidth": "5%",
                "render": function (data, type, row) {
                    return "<center><input type='checkbox' name='chkDia' value = '" + row[0] + "' /></center>";
                }
            }

        ]
    });

    var tabFechasAsig = $("#tabFechasAsig").dataTable({
        "info": false,
        "bServerSide": false,
        "data": _dataFechasAsigAuditor_,
        "order": [[1, "asc"]],
        "columns": [

            { "sTitle": "Fechas Asignadas" },
            {
                "sTitle": "<center><input type='checkbox' id='chkSeleccionarTodoAsig' onclick='javascript:seleccionarTodasFechasAsignadas();' /></center>",
                "bSortable": false,
                "sClass": "center",
                "sWidth": "5%",
                "render": function (data, type, row) {
                    return "<center><input type='checkbox' name='chkDiaAsignado' value = '" + row[1] + "' /></center>";
                }
            }

        ]
    });

    function listarDisponibilidadAuditor() {
        $.ajax({
            url: '@Url.Action("ListadoDisponibilidadAuditor", "InvitacionAuditor")',
            type: 'POST',
            async: false,
            data: { idAuditor: $("#codigoAuditorAgenda").val(), fechaInicio: $("#fechaInicio").val(), fechaFin: $("#fechaFinal").val() },
            success: function (result) {
                _dataDisponibilidadAuditor_ = result;
                tabDisponibilidadAuditor.fnReloadData(_dataDisponibilidadAuditor_);
            }
        });
    }


    function listarFechasAsignadasAuditor() {
        $.ajax({
            url: '@Url.Action("ListadoFechasAsig", "InvitacionAuditor")',
            type: 'POST',
            async: false,
            data: { idInvitacion: $("#codigoInvitacionAgenda").val() },
            success: function (result) {
                _dataFechasAsigAuditor_ = result;
                tabFechasAsig.fnReloadData(_dataFechasAsigAuditor_);
            }
        });
    }

    function seleccionarTodasFechas() {
        if ($("#chkSeleccionarTodo").is(":checked")) {
            $("input[name='chkDia']").prop("checked", true);
        } else {
            $("input[name='chkDia']").prop("checked", false);
        }
    }

    function seleccionarTodasFechasAsignadas() {
        if ($("#chkSeleccionarTodoAsig").is(":checked")) {
            $("input[name='chkDiaAsignado']").prop("checked", true);
        } else {
            $("input[name='chkDiaAsignado']").prop("checked", false);
        }
    }


    function registrarAgendaAuditor() {
        var fechasSeleccionadas = "";

        $("input[name='chkDia']:checked").each(function (i, v) {
            if (fechasSeleccionadas == "")
                fechasSeleccionadas = $(this).val();
            else
                fechasSeleccionadas = fechasSeleccionadas + "#" + $(this).val();
        });

        $.ajax({
            url: '@Url.Action("RegistrarFechasAgendaAuditor", "InvitacionAuditor")',
            type: 'POST',
            async: false,
            data: {
                idInvitacion: $("#codigoInvitacionAgenda").val(),
                fechas: fechasSeleccionadas
            },
            success: function (result) {
                mostrarNotificacion(result);
                listarDisponibilidadAuditor();
                listarFechasAsignadasAuditor();
            }
        });
    }

    function eliminarFechasAgendaAuditor() {
        var fechasAgendaAuditor = "";

        $("input[name='chkDiaAsignado']:checked").each(function (i, v) {
            if (fechasAgendaAuditor == "")
                fechasAgendaAuditor = $(this).val();
            else
                fechasAgendaAuditor = fechasAgendaAuditor + "," + $(this).val();
        });

        $.ajax({
            url: '@Url.Action("EliminarFechasAgenda", "InvitacionAuditor")',
            type: 'POST',
            async: false,
            data: {
                idInvitacion: $("#codigoInvitacionAgenda").val(),
                fechasAgendaAuditor: fechasAgendaAuditor
            },
            success: function (result) {
                mostrarNotificacion(result);
                listarDisponibilidadAuditor();
                listarFechasAsignadasAuditor();
            }
        });
    }


</script>
