@model SAF.Web.Models.InvitacionModel
@{
    ViewBag.PageTitle = "Editar Solicitud";
    ViewBag.PageDescription = "Editar Solicitud";
    ViewBag.PageDescription = "Auditor Financiero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title">Invitaciones</h3>
            </div>
            <div class="box-body">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(c=>c.CODPUB)
                            @Html.DropDownListFor(c => c.CODPUB, Model.cboPublicaciones, "Seleccione", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(c => c.CODSERAUD)
                            @Html.DropDownListFor(c => c.CODSERAUD, Model.cboServiciosAuditoria, "Seleccione", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="button" id="btnBuscar">&nbsp;Buscar</button>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">

                            <table id="tabInvitaciones" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBusquedaAuditor" tabindex="-1" role="dialog" aria-hidden="true"></div>

@section scripts {

    <script type="text/javascript" language="javascript">

        $(document).ready(function () {

            $("#btnBuscar").click(popupBuscarAuditores);
            $("#CODPUB").change(function () {
                cargarServiciosAuditoria();
            });
        });


        function popupBuscarAuditores() {
 
            $.ajax({      
                type: 'POST',
                url: '@Url.Action("BusquedaAuditores", "InvitacionAuditor")',
                data: { idPub: ($("#CODPUB").val().split("-")[0]), idSerAud: $("#CODSERAUD").val() },
                success: function (result) {
                    $("#modalBusquedaAuditor").empty().html(result).modal();
                }
            }); 
        }

        function cargarServiciosAuditoria() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("listarServicios", "InvitacionAuditor")',
                data: { idBase: $("#CODPUB").val().split("-")[1] },
                dataType: "json",
                success: function (result) {
                    $("#CODSERAUD option").not(":first").remove();
                    $.each(result, function (i, v) {
                        $("#CODSERAUD").append("<option value='" + v.Value + "'>" + v.Text + "</option>");
                    });
                }
            });
        }



</script>
}
