@using SAF.Configuracion.Enum;

@{
    ViewBag.PageTitle = "Publicaciones";
    ViewBag.PageDescription = "Publicaciones";
    ViewBag.PageDescription = "Bandeja de Publicaciones";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="callout callout-warning">
    <h4><i class="icon fa fa-warning"></i>&nbsp;Advertencia</h4>
    <p>
        Cuando realice una publicación, se realizara un procedimiento que solo tomara en cuenta a los auditores inscritos hasta el momento asi como su
        experiencia y capacitacion, por ende solo los auditores inscritos a la fecha podran participar en la publicación del concurso.
    </p>
</div>



<div class="box box-primary color-palette-box">
    <div class="box-header with-border">
        <h3 class="box-title">Publicaciones Registradas</h3>
    </div>
    <div class="box-body">
        <table id="tabPublicacion" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" id="btnRegistrarPublicacion"><i class="fa fa-file-o"></i>&nbsp;Nueva Publicacion</button>
        </div>
    </div>
</div>


<div class="modal fade" id="modalResultadoCortePublicacion" tabindex="-1" role="dialog" aria-hidden="true"></div>

@section scripts {

    <script type="text/javascript">


    var _dataPublicacion_ = null;


    var tabPublicacion = $("#tabPublicacion").dataTable({
        "info": false,
        "bServerSide": false,
        "data": _dataPublicacion_,
        "order": [[1, "asc"]],
        "columns": [
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "5%",
                "render": function (data, type, row) {
                    return '<center><button class="btn btn-primary" title="Abrir" type="button" onclick="abrirPublicacion(' + row[0] + ');"><i class="fa fa-search-plus"></i></button></center>';
                }
            },
            { "sTitle": "Nº Publicacion" },
            { "sTitle": "Entidad" },
            {
                "sTitle": "Estado",
                "sClass": "center"
            },
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "5%",
                "render": function (data, type, row) {
                    if (row[4] == '@Convert.ToInt32(Estado.Publicacion.Elaboracion)')
                        return '<center><button class="btn btn-success" title="Publicar" type="button" onclick="publicarPublicacion(' + row[0] + ');"><i class="fa fa-check-circle"></i></button></center>';
                    else
                        return ""
                }
            },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row) {
                        if (row[4] == '@Convert.ToInt32(Estado.Publicacion.Publicado)')
                            return '<center><button class="btn" title="Ver Auditores" type="button" onclick="verCortePublicacion(' + row[0] + ');"><i class="fa fa-users"></i></button></center>';
                        else
                            return ""
                    }
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row) {
                        if (row[4] == '@Convert.ToInt32(Estado.Publicacion.Publicado)')
                            return "";
                        else
                            return '<center><button class="btn btn-danger" title="Eliminar" type="button" onclick="eliminarPublicacion(' + row[0] + ');"><i class="fa fa-trash"></i></button></center>';
                    }
                }
        ]

    });



    $(document).ready(function () {
        listarPublicacion();
    });

    function listarPublicacion() {
        $.ajax({
            url: '@Url.Action("ListarPublicaciones", "Evaluador", new { Area = "Publicacion" })',
            type: 'POST',
            async: false,
            data: {},
            success: function (result) {
                _dataPublicacion_ = result;
                tabPublicacion.fnReloadData(_dataPublicacion_);
            }
        });
    }

    function publicarPublicacion(id) {
        $.ajax({
            url: '@Url.Action("PublicarPublicacion", "Evaluador", new { Area = "Publicacion" })',
                type: 'POST',
                async: false,
                data: { id: id },
                success: function (result) {
                    if (result.Exito) {
                        listarPublicacion();
                    }
                    mostrarNotificacion(result);
                }
            });
        }

        function eliminarPublicacion() {
            $.ajax({
                url: '@Url.Action("EliminarPublicacion", "Evaluador", new { Area = "Publicacion" })',
                type: 'POST',
                async: false,
                data: { id: id },
                success: function (result) {
                    if (result.Exito) {
                        listarPublicacion();
                    }
                    mostrarNotificacion(result);
                }
            });
        }

        function verCortePublicacion(id) {
            $.ajax({
                url: '@Url.Action("VerResultadoCortePublicacion", "Evaluador", new { Area = "Publicacion" })',
            type: 'POST',
            async: false,
            data: { id: id },
            success: function (result) {
                $("#modalResultadoCortePublicacion").empty().html(result).modal();
            }
        });
    }

    </script>
}