@model SAF.Web.Models.EquipoAuditoriaModel

@Html.HiddenFor(c=>c.CODPROEQU)
@Html.HiddenFor(c => c.codigoPropuestaAsigFecha)


<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Asignar Fechas Equipo Auditoria</h4>
        </div>
        <div class="modal-body">


            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tabsFechasInvitadas" aria-controls="home" role="tab" data-toggle="tab">Fechas invitadas</a></li>
                <li role="presentation"><a href="#tabsFechasAsignadas" aria-controls="profile" role="tab" data-toggle="tab">Fechas Asignadas</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tabsFechasInvitadas">
                    <!--INICIO-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary color-palette-box">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><i class="fa fa-calendar"></i>&nbsp;Lista de fechas invitadas</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table id="tabFechasInvitadas" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-primary" type="button" id="btnAsignarFechas"><i class="fa fa-check"></i>&nbsp;Asignar fechas</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--FIN-->
                </div>

                <div role="tabpanel" class="tab-pane" id="tabsFechasAsignadas">
                    <!--INICIO-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary color-palette-box">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><i class="fa fa-calendar"></i>&nbsp;Lista de fechas asignadas</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table id="tabFechasAsignadas" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-danger" type="button" id="btnEliminarFechas"><i class="fa fa-trash"></i>&nbsp;Eliminar Fechas</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--FIN-->
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">

    var _dataFechasInvitadas_ = null;
    var _dataFechasAsignadas_ = null;

    $(document).ready(function () {

        if (!editarPropuesta) {
            $("#btnAsignarFechas").hide();
            $("#btnEliminarFechas").hide();
        }

        listarFechasInvitadas();
        listarFechasAsignadas();
        $("#btnAsignarFechas").click(asignarFechas);
        $("#btnEliminarFechas").click(eliminarFechasAsignada);

    });

    var tabFechasInvitadas = $("#tabFechasInvitadas").dataTable({
        "info": false,
        "bServerSide": false,
        "data": _dataFechasInvitadas_,
        "order": [[1, "asc"]],
        "columns": [
            { "sTitle": "Fecha" },
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "5%",
                "render": function (data, type, row) {
                    return '<center><input type="checkbox" name="chkDiaInvitado" value= "' + row[0] + '"/></center>';
                }
            }
        ]
    });

    var tabFechasAsignadas = $("#tabFechasAsignadas").dataTable({
        "info": false,
        "bServerSide": false,
        "data": _dataFechasAsignadas_,
        "order": [[1, "asc"]],
        "columns": [
            { "sTitle": "Fecha" },
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "5%",
                "render": function (data, type, row) {
                    return '<center><input type="checkbox" name="chkDiaAsignado" value="' + row[1] + '" /></center>';
                }
            }
        ]
    });

    function listarFechasInvitadas() {
        $.ajax({
            url: '@Url.Action("listadoFechasInvitadas", "Propuesta")',
            type: 'POST',
            async: false,
            data: { idEquipo: $("#CODPROEQU").val() },
            success: function (result) {
                _dataFechasInvitadas_ = result;
                tabFechasInvitadas.fnReloadData(_dataFechasInvitadas_);
            }
        });
    }

    function listarFechasAsignadas() {
        $.ajax({
            url: '@Url.Action("listadoFechasAsignadas", "Propuesta")',
            type: 'POST',
            async: false,
            data: { idEquipo: $("#CODPROEQU").val() },
            success: function (result) {
                _dataFechasAsignadas_ = result;
                tabFechasAsignadas.fnReloadData(_dataFechasAsignadas_);
            }
        });
    }

    function asignarFechas() {

        var fechasSeleccionadas = "";

        $("input[name='chkDiaInvitado']:checked").each(function (i, v) {
            if (fechasSeleccionadas == "")
                fechasSeleccionadas = $(this).val();
            else
                fechasSeleccionadas = fechasSeleccionadas + "#" + $(this).val();
        });

        if (fechasSeleccionadas == "") {
            new PNotify({
                title: 'Respuesta Sistema!',
                type: "error",
                text: "Debe seleccionar al una fecha"
            });
            return
        }


        $.ajax({
            url: '@Url.Action("asignarFechasPropuesta", "Propuesta")',
            type: 'POST',
            async: false,
            data: { idEquipo: $("#CODPROEQU").val(), fechasAsgnar: fechasSeleccionadas },
            success: function (result) {
                mostrarNotificacion(result);
                listarFechasAsignadas();
                listarFechasInvitadas();
            }
        });
    }


    function eliminarFechasAsignada() {
        var diasAsigSeleccionados = "";

        $("input[name='chkDiaAsignado']:checked").each(function (i, v) {
            if (diasAsigSeleccionados == "")
                diasAsigSeleccionados = $(this).val();
            else
                diasAsigSeleccionados = diasAsigSeleccionados + "," + $(this).val();
        });

        $.ajax({
            url: '@Url.Action("EliminarFechaAsignadas", "Propuesta")',
            type: 'POST',
            async: false,
            data: { idPropuesta: $("#codigoPropuestaAsigFecha").val(), fechasAsignadas: diasAsigSeleccionados },
            success: function (result) {
                mostrarNotificacion(result);
                listarFechasAsignadas();
                listarFechasInvitadas();
            }
        });
    }

</script>